<template>
    <div class="mui-numbox" data-numbox-min="1">
        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
        <input type="number" id="test" class="mui-input-numbox" :value="count" ref="numbox" readonly @change="changeSelected"/>
        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'

    export default {
        data() {
            return {}
        },
        methods: {
            changeSelected(){
                this.$store.commit('updateCart',{
                    id: this.id,
                    count: parseInt(this.$refs.numbox.value)
                })
            }
        },
        mounted() {
            mui('.mui-numbox').numbox()
        },
        props: ['count','id']
    }
</script>
<style lang="less" scoped>

</style>
