<template>
    <div class="cmt-container">
        <h3>发表评论</h3>
        <hr>
        <textarea name="" rows="6" placeholder="请输入要BB的内容（最多吐槽120字）" maxlength="120" v-model="comment"></textarea>
        <mt-button type="primary" size="large" @click="add">发表评论</mt-button>

        <div class="cmt-item-list">
            <div class="cmt-item" v-for="(item,i) in comments" :key="item.add_time">
                <div class="cmt-header">
                    第{{ i+1 }}楼&nbsp;&nbsp;用户：{{ item.user_name }}&nbsp;&nbsp;发表时间：{{ item.add_time | dateFormat }}
                </div>
                <div class="cmt-body">{{ item.content }}</div>
            </div>
        </div>

        <mt-button type="danger" size="large" plain>加载更多</mt-button>
    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'
    import { Toast } from 'mint-ui'
    export default {
        data(){
            return{
                comments:[],
                comment: ''
            }
        },
        methods:{
            getComments(){
               mui.getJSON('/data/comments.json',{},(data) => {
                   this.comments = data
               })
            },
            add(){
                //评论内容为空
                if(this.comment.trim().length === 0){
                    return  Toast('评论内容不能为空')

                }
                //添加一个评论对象
                //{"user_name":"匿名","add_time":"2018-10-19T20:09:30.000Z","content":"谄谀之臣"}
                this.comments.unshift({
                    user_name: '匿名',
                    add_time: Date.now(),
                    content: this.comment.trim()
                })

                this.comment = ''
            }
        },
        created(){
            this.getComments()
        }
    }
</script>

<style lang="less" scoped>
    .cmt-container{
        textarea{
            margin: 0;
            font-size: 14px;
            height: 85px;
        }
        .cmt-item-list{
            margin: 5px 0;
            .cmt-item{
                .cmt-header{
                    font-size: 14px;
                    line-height: 30px;
                    background-color: #ccc;
                }
                .cmt-body{
                    line-height: 35px;
                    text-indent: 2em;
                }
            }
        }
    }

</style>