<template>
    <div class="swipe">
        <mt-swipe :auto="2000">
            <mt-swipe-item v-for="item in lunbotuList" :key="item.url">
                <img :src="item.url" alt="">
            </mt-swipe-item>
        </mt-swipe>
    </div>
</template>
<script>
    export default {
        props:['lunbotuList']
    }
</script>
<style lang="less" >
    .mint-swipe {
        height: 200px;
        .mint-swipe-item {
            img {
                width: 100%;
                height: auto;
            }
        }
        .mint-swipe-indicators {
            .mint-swipe-indicator{
                width: 16px;
                height: 16px;
                &.is-active{
                    background: red;
                }
            }
        }

    }
</style>