<template>
    <div class="goodsinfo-container">
        <!--详情图片部分-->
        <div class="mui-card">
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <swipe :lunbotuList="goodsimg"></swipe>
                </div>
            </div>
        </div>
        <!--购物车小球-->
        <transition
                @before-enter="beforeEnter"
                @enter="enter"
                @after-enter="afterEnter">
            <div class="cart-ball" ref="ball" v-show="flag">
            </div>
        </transition>
        <!--购物信息-->
        <div class="mui-card">
            <div class="mui-card-header">{{ goodsinfo.title }}</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p>市场价：
                        <del>￥{{ goodsinfo.old_price }}</del>&nbsp;&nbsp;&nbsp;销售价：￥<span
                                class="red">{{ goodsinfo.now_price }}</span></p>
                    <p>购买数量：
                        <!--用事件注册的方式使子组件往父组件传值-->
                        <numbox @changeSelected="changeSelected" :initSelected="initSelected"></numbox>
                    </p>

                    <mt-button type="primary" size="small">立即购买</mt-button>
                    <mt-button type="danger" size="small" @click="changeFlag">加入购物车</mt-button>
                </div>
            </div>
        </div>
        <!--商品信息-->
        <div class="mui-card">
            <div class="mui-card-header">商品参数</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p>商品货号：{{ goodsinfo.good_no }}</p>
                    <p>库存情况：{{ goodsinfo.stock_quantity }}</p>
                    <p>上架时间：{{ goodsinfo.add_time | dateFormat }}</p>
                </div>
            </div>
            <div class="mui-card-footer">
                <mt-button type="primary" size="large" plain @click="goDesc(id)">图文介绍</mt-button>
                <mt-button type="danger" size="large" plain @click="goCom(id)">商品评论</mt-button>
            </div>
        </div>
    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'
    import swipe from '../comp/swipe.vue'
    import numbox from './numbox.vue'

    export default {
        data() {
            return {
                goodsinfo: {},
                goodsimg: {},
                id: this.$route.params.gid,
                flag: false,
                initSelected: 1,
                selected: 1
            }
        },
        methods: {
            getImg() {
                mui.getJSON('/data/goodsimg.json', {}, (data) => {
                    this.goodsimg = data
                })
            },
            getInfo() {
                mui.getJSON('/data/goodsinfo.json', {}, (data) => {
                    this.goodsinfo = data
                })
            },
            goDesc(id) {
                this.$router.push({"name": 'goodsDesc', params: {id}})
            },
            goCom(id) {
                this.$router.push({"name": 'goodsComs', params: {id}})
            },
            changeFlag() {
                this.flag = !this.flag
                let goodsinfo = {
                    id: this.id,
                    count: parseInt(this.selected),
                    title: this.goodsinfo.title,
                    img: '/images/g07.jpg',
                    price: this.goodsinfo.now_price,
                    selected: true
                }
                this.$store.commit('addToCart', goodsinfo)
            },
            beforeEnter(el) {
                el.style.transform = 'translate(0,0)'
            },
            enter(el, done) {
                //必须加上这句 否则动画不显示 暂不知道原因
                el.offsetWidth;

                const ballPos = this.$refs.ball.getBoundingClientRect()
                const badgePos = document.getElementById('badge').getBoundingClientRect()

                const x = badgePos.left - ballPos.left
                const y = badgePos.top - ballPos.top
                console.log(x + "======" + y)
                el.style.transform = `translate(${x}px,${y}px)`
                el.style.transition = 'all .5s cubic-bezier(.4,-0.3,1,.68)'

                done()
            },
            afterEnter() {
                this.flag = !this.flag
            },
            changeSelected(num){
                this.selected = num
            }
        },
        created() {
            this.getImg()
            this.getInfo()
        },
        components: {
            swipe,
            numbox
        },
        mounted() {
//            this.$refs.ball.style.left = 20+'px';

        }
    }
</script>
<style lang="less" scoped>
    .goodsinfo-container {
        background-color: #ccc;
        overflow: hidden;
        .cart-ball {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            top: 405px;
            left: 145px;
            z-index: 999;
        }
        .swipe /deep/ .mint-swipe {
            .mint-swipe-item {
                text-align: center;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
        .red {
            color: red;
            font-size: 16px;
            font-weight: bold;
        }
        .mui-card-footer {
            display: block;
            button {
                margin: 10px 0;
            }
        }
    }
</style>