<template>
    <div>
        <comments></comments>
    </div>
</template>

<script>
    import comments from '../comp/comments.vue'

    export default {
        components:{
            comments
        }
    }
</script>
<style lang="less" scoped>

</style>