<template>
    <div class="goodsdesc-container">
        <h3>Apple iPhone XS Max (A2104) 256GB 金色 移动联通电信4G手机 双卡双待</h3>
        <hr>
        <p>
            超视网膜显示屏，两款大作一起登场
        </p>
        <p>
            这两款精心定制的OLED显示屏，拥有出众的色彩精准度，支持HDR显示，并能呈现真实深邃的黑色。其中，iPhone Xs Max更配备了iPhone迄今为止最大的显示屏。
        </p>
        <img src="/images/ginfo01.jpg" alt="">
    </div>
</template>

<script>

</script>
<style lang="less" scoped>
.goodsdesc-container{
    padding: 4px;
    h3{
        text-align: center;
        font-size: 18px;
        color: #f10215;
    }
    img{
        width: 100%;
    }
}
</style>