<template>
    <div class="goods-list">
        <div class="goods-item" v-for="item in goodslist" :key="item.id" @click="goInfo(item.id)">
            <img :src="item.img_url" alt="">
            <div class="title">
                <h3>{{ item.title }}</h3>
            </div>
            <div class="info">
                <p>
                    <span class="now">￥{{ item.now_price }}</span>&nbsp;&nbsp;&nbsp;
                    <span class="old">￥{{ item.old_price }}</span>
                </p>
                <p>
                    <span>热卖中</span>
                    <span>库存数{{ item.stock_quantity }}</span>
                </p>
            </div>
        </div>

    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'
    export default {
        data(){
            return {
                goodslist:[]
            }
        },
        methods:{
            getGoodsList(){
                mui.getJSON('/data/goodslist.json',{},(data) =>{
                    this.goodslist = data
                })
            },
            goInfo(id){
                this.$router.push('/home/goodsinfo/'+id)
            }
        },
        created(){
            this.getGoodsList()
        }
    }
</script>
<style lang="less" scoped>
    .goods-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5%;
        justify-content: space-between;
        .goods-item{
            width: 49%;
            background-color: #fff;
            line-height: 1.2em;
            position: relative;
            margin-bottom: 3px;
            min-height: 340px;
            .title{
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            img{
                width: 100%;
            }
            h3{
                font-size: 15px;
                line-height: 1.4em;
            }
            .info{
                width: 100%;
                padding: 3px;
                background: #ccc;
                position: absolute;
                bottom: 2px;
                left: 0;
                p{
                    margin: 3px;
                }
                .now{
                    color: red;
                    font-size: 16px;
                }
                .old{
                    text-decoration: line-through;
                }
                p:last-child{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
</style>