<template>
    <div class="mui-numbox" data-numbox-min="1" data-numbox-max="9" ref="nb">
        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
        <input type="number" id="test" class="mui-input-numbox" :value="initSelected" @change="changeSelected"
               ref="numbox" readonly/>
        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'

    export default {
        data() {
            return {}
        },
        methods: {
            changeSelected() {
                this.$emit('changeSelected', this.$refs.numbox.value)
            }
        },
        mounted() {
            mui('.mui-numbox').numbox()
        },
        props: ['initSelected']
    }
</script>
<style lang="less" scoped="">

</style>
