<template>
    <div class="newsinfo-container">
        <h3 class="title">{{ newsinfo.title }}</h3>
        <div class="subtitle">
            <span>发表时间：{{ newsinfo.add_time | dateFormat }}</span>
            <span>点击：{{ newsinfo.click }}次</span>
        </div>

        <hr>
        <!--内容区域-->
        <div class="content" v-html="newsinfo.content">

        </div>
        <!--评论-->
        <comment-box></comment-box>
    </div>
</template>

<script>
    import mui from '../../lib/mui/js/mui.min.js'
    //引入comment组件
    import comment from '../comp/comments.vue'

    export default {
        data() {
            return {
                id: this.$route.params.id,
                newsinfo: {}
            }
        },
        methods: {
            getNewsInfo() {
                mui.getJSON('/data/newsInfo.json', {}, (data) => {
                    this.newsinfo = data
                })
            }
        },
        created() {
            this.getNewsInfo()
        },
        components:{
            'comment-box': comment
        }
    }
</script>

<style lang="less" scoped>
    .newsinfo-container {
        padding: 0 5px;
        .title {
            font-size: 16px;
            text-align: center;
            margin: 15px 0;
            color: #f10215;
        }
        .subtitle {
            font-size: 14px;
            color: #226aff;
            display: flex;
            justify-content: space-between;
        }
    }
</style>