<template>
    <div class="pinfo">
        <h3 class="pinfo-title">{{ content.title }}</h3>
        <div class="pinfo-subtitle">
            <p>发表时间：{{ content.add_time | dateFormat }}</p>
            <p>点击：{{ content.click }}次</p>
        </div>
        <hr>
        <!--缩略图部分-->
        <div class="thumb">
            <vue-preview :slides="slide1" @close="handleClose"></vue-preview>
        </div>
        <!--内容部分-->
        <div class="pinfo-content">
            {{ content.abstract }}
        </div>
        <!--评论部分-->
        <cmt-box></cmt-box>
    </div>
</template>
<script>
    import comments from '../comp/comments.vue'
    import mui from '../../lib/mui/js/mui.min.js'
    export default {
        data(){
            return {
                slide1: [
                    {
                        src: 'https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg',
                        msrc: 'https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_m.jpg',
                        alt: 'picture1',
                        title: 'Image Caption 1',
                        w: 600,
                        h: 400
                    },
                    {
                        src: 'https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_b.jpg',
                        msrc: 'https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_m.jpg',
                        alt: 'picture2',
                        title: 'Image Caption 2',
                        w: 1200,
                        h: 900
                    }
                ],
                content: {}
            }
        },
        methods:{
            handleClose () {
                console.log('close event')
            },
            getAbstract(){
             mui.getJSON('/data/photolists.json',{},(data) =>{
                 this.content = data[this.$route.params.pid]
             })
            }
        },
        created(){
            this.getAbstract()
        },
        components:{
            'cmt-box': comments
        }
    }
</script>
<style lang="less" scoped>

    .pinfo{
        padding: 4px;
        .pinfo-title{
            text-align: center;
            color: #26a2ff;
            font-size: 16px;
            margin: 15px 0;
        }
        .pinfo-subtitle{
            display: flex;
            justify-content: space-between;
            margin-bottom: -4px;
        }
        .pinfo-content{
            line-height: 30px;
            font-size: 14px;
        }
    }
</style>