<template>
    <div>
        <!--顶部导航-->
        <div id="slider" class="mui-slider ">
            <div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll">
                    <a :class="['mui-control-item', item.id == 0 ? 'mui-active': '' ]" v-for="item in titles" href="#item1mobile" data-wid="tab-top-subpage-1.html" @click="getList">
                        {{ item.msg }}
                    </a>
                </div>
            </div>

        </div>
        <!--图片列表 用mint-ui中的懒加载-->
        <ul class="photo-list">
            <router-link v-for="item in list" :to="'/home/photoinfo/'+item.id" tag="li">
                <img v-lazy="item.img_url">
                <div class="info">
                    <h3 class="info-title">{{ item.title }}</h3>
                    <div class="info-body">{{ item.abstract }}</div>
                </div>
            </router-link>
        </ul>
    </div>
</template>
<script>
    import mui from '../../lib/mui/js/mui.min.js'

    export default {
        data() {
            return {
                titles: [],
                list: []
            }
        },
        methods: {
            getTitle(){
                mui.getJSON('/data/photolist.json',{},data => {
                    //得到的数据中没有全部这一选项，需手动添加
                     data.unshift({
                         id : 0,
                         msg : '全部'
                     })
                    this.titles = data
                })
            },
            getList(){
                mui.getJSON('/data/photolists.json',{},data => {

                    this.list = data
                })
            }
        },
        created(){
            this.getTitle()
            this.getList()
        },
        mounted() {
            mui('.mui-scroll-wrapper').scroll({
                deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
            });
        }
    }
</script>
<style lang="less" scoped>
    *{
        touch-action: none;
    }
    .photo-list{
        list-style: none;
        margin: 4px;
        padding: 0;
        li{
            text-align: center;
            box-shadow: 0 0 9px #ccc;
            position: relative;
            padding: 0;
            margin: 10px 5px;
        }
        img{
            width: 100%;
            vertical-align: middle;

        }
        img[lazy="loading"]{
            width: 40px;
            height: 300px;
            margin: auto;
        }
        .info{
            position: absolute;
            left: 0;
            bottom: 0;
            color: white;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.4);
            max-height: 120px;
            .info-title{
                font-size: 16px;
            }
            .info-body{
                font-size: 14px;
            }
        }
    }
</style>