<template>
    <div class="cart-container">
        <!--商品列表区域-->
        <div class="goods-list">
            <div class="mui-card" v-for="(item, i) in carts" :key="item.id">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <mt-switch v-model="item.selected" @change="selectChanged(item.id, item.selected)"></mt-switch>
                        <img :src="item.img" alt="">
                        <div class="info">
                            <h3>{{ item.title }}</h3>
                            <span class="price">￥{{ item.price }}</span>
                            <numbox :count="item.count" style="height: 25px;" :id="item.id"></numbox>&nbsp;&nbsp;
                            <a href="#" @click.prevent="remove(item.id, i)">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--商品结算区域-->
        <div class="goods-count">
            <div class="mui-card">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <div class="left">
                            <p>
                                总计（不含运费）
                            </p>
                            <p>已勾选商品<span>{{ $store.getters.getSelected['count'] }}</span>件，总价：<span>￥{{ $store.getters.getSelected['amount'] }}</span></p>
                        </div>
                        <mt-button type="danger" size="normal">去结算</mt-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import numbox from '../comp/cart-numbox.vue'

    export default {
        data(){
            return {
                carts:[]

            }
        },
        methods:{
            getAllCart(){
                this.carts = this.$store.state.cart
            },
            remove(id, i){
                this.carts.splice(i, 1)
                this.$store.commit('deleteCart', id)
            },
            selectChanged(id, selected){
                this.$store.commit('updateSelected',{
                    id: id,
                    selected: selected
                })
            }
        },
        created(){
            this.getAllCart()
        },
        components:{
            numbox
        }
    }
</script>

<style lang="less" scoped>
.cart-container{
    background-color: #ccc;
    overflow: hidden;
    .mui-card-content-inner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{
            width: 60px;
            height: 60px;
        }
        .info{
            h3{
                font-size: 14px;
            }
            .price{
                color: #f10215;
                font-weight: 700;
            }
        }
        .left{
            span{
                color: #f10215;
                font-size: 16px;
                font-weight: bold;
            }
        }

    }
}
</style>
