<template>
    <div class="app-container">
        <!--固定头部-->
        <mt-header fixed title="程序员·Vue项目">
            <span @click="goBack" slot="left" v-show="$route.path === '/home' ? false : true">
                <mt-button icon="back">返回</mt-button>
            </span>
        </mt-header>
        <!--中间路由切换模块-->
        <transition>
            <router-view></router-view>
        </transition>
        <!--底部导航-->
        <nav class="mui-bar mui-bar-tab">
            <router-link class="mui-tab-item-o " to="/home">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </router-link>
            <router-link class="mui-tab-item-o" to="/member">
                <span class="mui-icon mui-icon-contact"></span>
                <span class="mui-tab-label">会员</span>
            </router-link>
            <router-link class="mui-tab-item-o" to="/cart">
                <span class="mui-icon mui-icon-extra mui-icon-extra-cart">
                    <span class="mui-badge" id="badge">{{ $store.getters.getAllCount }}</span>
                </span>
                <span class="mui-tab-label">购物车</span>
            </router-link>
            <router-link class="mui-tab-item-o" to="/search">
                <span class="mui-icon mui-icon-search"></span>
                <span class="mui-tab-label">搜索</span>
            </router-link>
        </nav>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    methods:{
        goBack(){

            this.$router.go(-1)
        }
    }

}
</script>

<style lang="less" scoped>
    *{
        touch-action: pan-y;
    }
    .app-container {
        padding-top: 40px;
        padding-bottom: 50px;
        overflow-x: hidden;
    }
    .v-enter{
        opacity: 0;
        transform: translateX(100%);

    }
    .v-leave-to{
        opacity: 0;
        transform: translateX(-100%);
        position: absolute;
    }
    .v-enter-active,.v-leave-active{
        transition: all .5s ease;
    }

    // 改类名，解决 tabbar 点击无法切换的问题
    .mui-bar-tab .mui-tab-item-o.mui-active {
        color: #007aff;
    }

    .mui-bar-tab .mui-tab-item-o {
        display: table-cell;
        overflow: hidden;
        width: 1%;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #929292;
    }

    .mui-bar-tab .mui-tab-item-o .mui-icon {
        top: 3px;
        width: 24px;
        height: 24px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .mui-bar-tab .mui-tab-item-o .mui-icon~.mui-tab-label {
        font-size: 11px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>